In [11]:
from pandas import Series,DataFrame
import pandas as pd
import numpy as np

# cat()拼接字符串

In [2]:
Series(['a','b','c']).str.cat(['A','B','C'],sep = ',')

0    a,A
1    b,B
2    c,C
dtype: object

In [3]:
Series(['a','b']).str.cat(sep = ',')

'a,b'

In [4]:
Series(['a','b']).str.cat([['x','y'],['1','2']],sep = ',')

0    a,x,1
1    b,y,2
dtype: object

# split()切分字符串

In [12]:
s = pd.Series(['a_b_c', 'c_d_e', np.nan, 'f_g_h'])
s.str.split('_')

0    [a, b, c]
1    [c, d, e]
2          NaN
3    [f, g, h]
dtype: object

In [14]:
s.str.split('_', -1)

0    [a, b, c]
1    [c, d, e]
2          NaN
3    [f, g, h]
dtype: object

In [15]:
s.str.split('_', 0)

0    [a, b, c]
1    [c, d, e]
2          NaN
3    [f, g, h]
dtype: object

In [16]:
s.str.split('_', 1)

0    [a, b_c]
1    [c, d_e]
2         NaN
3    [f, g_h]
dtype: object

In [17]:
s.str.split('_', 2)

0    [a, b, c]
1    [c, d, e]
2          NaN
3    [f, g, h]
dtype: object

In [18]:
s.str.split('_', 3)

0    [a, b, c]
1    [c, d, e]
2          NaN
3    [f, g, h]
dtype: object

# get()获取指定位置的字符串

In [20]:
s

0    a_b_c
1    c_d_e
2      NaN
3    f_g_h
dtype: object

In [19]:
s.str.get(0)

0      a
1      c
2    NaN
3      f
dtype: object

In [21]:
s.str.get(1)

0      _
1      _
2    NaN
3      _
dtype: object

In [22]:
s.str.get(2)

0      b
1      d
2    NaN
3      g
dtype: object

# join() 对每个字符都用给定的字符串拼接起来，不常用

In [23]:
 s.str.join("!")

0    a!_!b!_!c
1    c!_!d!_!e
2          NaN
3    f!_!g!_!h
dtype: object

In [24]:
 s.str.join("?")

0    a?_?b?_?c
1    c?_?d?_?e
2          NaN
3    f?_?g?_?h
dtype: object

In [25]:
s.str.join(".")

0    a._.b._.c
1    c._.d._.e
2          NaN
3    f._.g._.h
dtype: object

# contains() 是否包含表达式

In [26]:
 s.str.contains('d')

0    False
1     True
2      NaN
3    False
dtype: object

In [27]:
s.str.replace("_", ".")

0    a.b.c
1    c.d.e
2      NaN
3    f.g.h
dtype: object

In [28]:
s.str.repeat(3)

0    a_b_ca_b_ca_b_c
1    c_d_ec_d_ec_d_e
2                NaN
3    f_g_hf_g_hf_g_h
dtype: object

In [33]:
 s.str.rjust(10,fillchar="?")

0    ?????a_b_c
1    ?????c_d_e
2           NaN
3    ?????f_g_h
dtype: object

In [35]:
s.str.wrap(3)

0    a_b\n_c
1    c_d\n_e
2        NaN
3    f_g\n_h
dtype: object

In [37]:
s

0    a_b_c
1    c_d_e
2      NaN
3    f_g_h
dtype: object

In [36]:
s.str.slice(1,3)

0     _b
1     _d
2    NaN
3     _g
dtype: object

In [39]:
s

0    a_b_c
1    c_d_e
2      NaN
3    f_g_h
dtype: object

In [38]:
s.str.slice_replace(1, 3, "?")

0    a?_c
1    c?_e
2     NaN
3    f?_h
dtype: object

In [47]:
s.str.partition('_',expand = True)

     0     1     2
0    a     _   b_c
1    c     _   d_e
2  NaN  None  None
3    f     _   g_h

In [44]:
s.str.partition?